$color-background: #44475a;
$color-white: #fff;
$color-plate-colourful: #569;
$color-plate-shadow: #d9d6d6;
$color-apple: #e71313;
$color-apple-border: #620303;
$color-apple-circle: #d78787;
$color-shadow: #262833;
$color-text: #c2bebe;
$color-text-dark: #0e0c0c;
$color-border: #6272a4;
$color-button: rgba(201, 196, 192, 0.5);
$color-button-hover: rgba(246, 245, 245, 0.5);
$color-input: #8be9fd;
$color-code-background: #282a36;
$color-table: #ffb86c;
$color-table-corner: #af7a43;
$color-table-legs: rgba(148, 90, 38, 0.6);
$color-scrollbar-thumb: #b2b0b0;
$selected-text: rgba(189, 159, 75, 0.25);

